Assignment1_Report.md
Implementation_Plan.md

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
backend/venv/*
env/

# Environment variables
.env
.env.*
!.env.example

# node_scripts
node_modules
dist
AD_Assignment.docx